.clem {
    border: black 1px;
    display: flex;
    flex-direction: row;
    margin: 40px 75px;
};
body {
    background-color: rgba(196,199,158,255);
};
.clemmy {
    background-color: rgba(196,199,158,255);
    border: none;
};
.imagesize {
    border-radius: 8px;
    background-size: 100% 100%;
};
.popover {
    max-width: 400px;
  };
  .jumbotronBg {
    background-color: rgba(100,36,36,255); 
};