.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clem {
  border: black 1px;    
  margin: 40px 75px;
};
body {
  background-color: rgba(196,199,158,255);
};
.clemmy {
  background-color: rgba(196,199,158,255);
  border: none;
};
.imagesize {
  border-radius: 8px;
  background-size: 100% 100%;
};
.popover {
  max-width: 400px;
};
.jumbotronBg {
  background-color: rgba(100,36,36,255); 
};
.carousels {
  height: 150px;
};

.flexItems {
  display:flex;
  flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  #myCarousel { display: none; }  /* hide it elsewhere */  
  #myItems {
      display:flex;
      flex-direction: column;
  }  
};

@media screen and (min-width: 993px) {
  #myCarousel { display: block; }   /* show it on big screens */
  #myItems {
      display:flex;
      flex-direction: row;
  }  
};